.renderIfVisible:has([data-filtering-hidden="hidden"]),
[ch-utils-filter-ownPosts] .renderIfVisible:has([data-filtering~="ownPosts"]),
[ch-utils-filter-hideShares] .renderIfVisible:has([data-filtering~="hideShares"]),
[ch-utils-filter-duplicatePosts="normal"] .renderIfVisible:has([data-filtering~="duplicates"]),
[ch-utils-filter-duplicatePosts="strict"] .renderIfVisible:has([data-filtering~="duplicatesStrict"]) { display: none; }


@media (min-width: 1024px) {
  .ch-utils-filtering {
    max-width: min(calc(100% - 5.5rem), 65ch);
    margin-left: 5.5rem;
  }
}
@media (max-width: 640px) {
  .ch-utils-filtering {
    gap: .5rem;
    flex-wrap: wrap;

    button { flex: auto; }
    span { width: 50%; }
  }
}