@media (min-width: 1024px) {
  #app > .flex > header > .container > div { width: fit-content; }

  ul[role="menu"] {
    flex-flow: row nowrap;
    background: none;
    border: none;
    box-shadow: none !important;
    align-items: center;
    padding: 0;

    > a > li {
      font-size: 0;
      gap: 0;
      padding: .5rem;
      position: relative;

      &:hover { --tw-border-opacity: 0; }

      svg.ml-auto { 
        position: absolute;
        transform: scale(.8);
        top: -5%;
        left: 40%;
      }
    }
  }

  a[href="#"] + ul {
    margin: 0;
    position: absolute;
    top: 3rem;
    left: 5rem;
    background: rgb(var(--color-notBlack));
    padding: .5rem;
    border-radius: .5rem;
  }
  a[href="#"] + ul li:not(:last-of-type) { border-bottom: 1px solid rgba(var(--color-notWhite) / .2); }

  #live-dashboard > .flex-col > button.w-full {
    position: sticky;
    top: 5rem;
    z-index: 10;
    max-width: min(calc(100% - 5.5rem), 65ch);
    margin-left: 5.5rem;
  }

  svg.ch-utils-horizontal:has(text:empty) { display: none; }

  .lg\:grid-cols-4:has(#live-dashboard) { grid-template-columns: .5fr repeat(3, minmax(0, 1fr)); }
}