@media (min-width: 1024px) {
  #app > .flex > header > .container > div { width: fit-content; }

  ul[role="menu"] {
    flex-flow: row nowrap;
    background: none;
    border: none;
    box-shadow: none !important;
    align-items: center;
    padding: 0;
    position: relative;
    color: rgb(var(--color-notWhite));

    .grid > & {
      position: fixed;
      top: .75rem;
      right: calc(50% - 11rem);
      z-index: 50;

      @media (min-width: 1280px) { right: calc(50% - 19rem); }
      @media (min-width: 1536px) { right: calc(50% - 27rem); }
    }

    > a > li {
      font-size: 0;
      gap: 0;
      padding: .5rem;
      position: relative;

      &:hover {
        --tw-border-opacity: 0;
        color: rgb(var(--color-mango));
      }

      svg.ml-auto { 
        position: absolute;
        transform: scale(.8);
        top: -5%;
        left: 40%;
        fill: rgb(var(--color-mango));
        color: rgb(var(--color-notBlack));
      }
    }
  }

  a[href="#"] + ul {
    margin: 0;
    position: absolute;
    top: 3rem;
    left: 6rem;
    background: rgb(var(--color-background));
    padding: .5rem;
    border-radius: .5rem;
    z-index: 11;
  }
  a[href="#"] + ul li:not(:last-of-type) { border-bottom: 1px solid rgba(var(--color-notWhite) / .2); }

  #live-dashboard > .flex-col > button.w-full {
    position: sticky;
    top: 5rem;
    z-index: 10;
    max-width: min(calc(100% - 5.5rem), 65ch);
    margin-left: 5.5rem;
  }

  svg.ch-utils-horizontal:has(text:empty) { display: none; }

  .lg\:grid-cols-4:has(.ch-utils-horizontal) { grid-template-columns: .5fr repeat(3, minmax(0, 1fr)); }

  .artist-alley-grid { margin-left: 0; }

  [href="#"] svg {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  [href="#"][data-state="open"] svg { transform: rotate(180deg); }
  [data-state="open"] + .ch-utils-horizontal-tagList { display: block !important; }
}
@media (max-width: 1023px) {
  .ch-utils-horizontal-customNav { display: none; }
}