@media (min-width: 1024px) {
  #app > .flex > header > .container > div { width: fit-content; }

  ul[role="menu"] {
    position: fixed;
    flex-flow: row nowrap;
    z-index: 10;
    background: none;
    border: none;
    box-shadow: none !important;
    top: 0;
    height: 4rem;
    align-items: center;
    left: calc(50% - 22rem);

    > a > li {
      font-size: 0;
      gap: 0;
      padding: .5rem;
      position: relative;

      &:hover { --tw-border-opacity: 0; }

      svg.ml-auto { 
        position: absolute;
        transform: scale(.8);
        top: -5%;
        left: 40%;
      }
    }
  }

  a[href="#"] + ul {
    margin: 0;
    position: absolute;
    top: 3rem;
    left: 5rem;
    background: rgb(var(--color-notBlack));
    padding: .5rem;
    border-radius: .5rem;
  }
  a[href="#"] + ul li:not(:last-of-type) { border-bottom: 1px solid rgba(var(--color-notWhite) / .2); }

  #live-dashboard > .flex > button.w-full {
    position: sticky;
    top: 5rem;
    z-index: 10;
  }

  @media (min-width: 1280px) {
    ul[role="menu"] { left: calc(50% - 14rem); }
  }
  @media (min-width: 1536px) {
    ul[role="menu"] { left: calc(50% - 6rem); }
  }

  .lg\:grid-cols-4:has(#live-dashboard) { grid-template-columns: .5fr repeat(3, minmax(0, 1fr)); }
}