[data-popover-comments="true"] .co-thread-footer > div > div:has(button.ch-utils-popoverComments) > a.hover\:underline { display: none; }

button.ch-utils-popoverComments {
  display: flex;
  align-items: center;
}
.ch-utils-popoverComments svg { margin-left: .5rem; }

footer:has(.w-max > button.ch-utils-popoverComments[data-headlessui-state=""]) > .ch-utils-popoverComments { display: none; }

[data-popover-comments-hidden="true"] { display: none; }