[href="https://cohost.org/rc/project/notifications"][data-notification-popover-state="open"] { position: relative; }
[href="https://cohost.org/rc/project/notifications"][data-notification-popover-state="open"] svg.inline-block { fill: currentColor; }

.ch-utils-popover {
  position: fixed;
  z-index: 100;
  width: 24rem;
  border-radius: .5rem;
  overflow: hidden;
  color: rgb(var(--color-notBlack));
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  overscroll-behavior: contain;

  .co-block-quote { margin: 0; }
  
  > section {
    max-height: 32rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(var(--color-mango)) rgb(var(--color-background) / .4);
  }

  > header {
    padding: .5rem;
    background-color: rgb(var(--color-notWhite) / var(--tw-bg-opacity));
    color: rgb(var(--color-notBlack));
  }

  &:has([data-theme="dark"]) {
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));

    > header {
      background-color: rgb(var(--color-notBlack) / var(--tw-bg-opacity));
      color: rgb(var(--color-notWhite));
    }
  }
}

@media (prefers-color-scheme: dark) {
  .ch-utils-popover:has([data-theme="both"]) {
    color: rgb(var(--color-notWhite));
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));

    > header {
      background-color: rgb(var(--color-notBlack) / var(--tw-bg-opacity));
      color: rgb(var(--color-notWhite));
    }
  }
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 101;
}
.align-start { align-items: flex-start; }
.max-19 { max-width: 19rem; }
.flex-0 + .max-19 { max-width: 16.5rem; }
.gap-space { gap: 0 .3em; }
.inline-children {
  * {
    display: inline !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: inherit !important;
    &:is(h1,h2,h3,h4,h5,h6) { font-weight: bold; }
    &:is(ul) { display: none !important; }
    &:is(img,video) { max-height: 20px !important; }
  }
}

.loader { /*adapted from https://cssloaders.github.io/*/
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2rem;
  position: relative;
  color: rgb(var(--color-notBlack));
  box-sizing: border-box;
  animation: load-animation 1s linear infinite alternate;
}
@keyframes load-animation {
  0% {box-shadow: -24px -6px, -8px 0, 8px 0, 24px 0; }
  33% { box-shadow: -24px 0px, -8px -6px, 8px 0, 24px 0; }
  66% { box-shadow: -24px 0px, -8px 0, 8px -6px, 24px 0; }
  100% { box-shadow: -24px 0, -8px 0, 8px 0, 24px -6px; }
}