.w-15 { width: 15rem; }
@media (min-width: 1024px) {
  .lg\:left-0 {
    left: 0;
  }
}

.ch-utils-quickRechost {
  position: absolute;
  z-index: 99;
  display: none;
}

.ch-utils-quickRechost-list { display: none; }
[data-headlessui-state="open"] + .ch-utils-quickRechost-list { display: block; }

.ch-utils-quickRechost-caret { color: rgb(var(--color-notBlack)); }
[data-theme="dark"] .ch-utils-quickRechost-caret, [data-headlessui-state]:hover .ch-utils-quickRechost-caret, [data-headlessui-state="open"] .ch-utils-quickRechost-caret  { color: rgb(var(--color-notWhite)) !important; }
@media (prefers-color-scheme: dark) {
  [data-theme="both"] .ch-utils-quickRechost-caret { color: rgb(var(--color-notWhite)); }
}

.ch-utils-quickRechost-status {
  pointer-events: none;
  position: fixed;
  bottom: -4rem;
  opacity: 0;
  left: calc(50% - 8rem);
  width: fit-content;
  animation: .5s ease-in-out 1 normal forwards slidein, .5s ease-in-out 3s 1 reverse forwards slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    bottom: -4rem;
  }
  to {
    opacity: 1;
    bottom: 4rem;
  }
}