.co-thread-footer .w-max.flex-none {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
}

.ch-utils-shareTree {
  border-width: 1px;
  border-color: rgb(191 186 181);
  
  ul {
    background-color: white;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: clip;
    scrollbar-width: thin;
  }
  li {
    border-top-width: 1px;
    border-color: inherit;

    &:first-child { border-top-width: 0; }
    &:nth-child(even) {
      background-color: rgb(var(--color-accent) / .1);
    }
    .border-l-2 { border-color: rgb(103 26 61); }
    div:empty { display: none; }
    .block-children { img, video { max-width: 100% !important; }; }
  }
}

footer:has(.w-max > .ch-utils-shareTree-button[data-headlessui-state=""]) > .ch-utils-shareTree { display: none; }

@media (prefers-color-scheme: dark) {
  [data-theme="both"] .ch-utils-shareTree {
    background-color: black;
    border-color: rgb(74 72 71 / var(--tw-border-opacity));

    li:nth-child(even) { background-color: rgb(var(--color-notBlack) / .5); }
    .border-l-2 { border-color: rgb(229 143 62); }
  }
}
[data-theme="dark"] .ch-utils-shareTree {
  background-color: black;
  border-color: rgb(74 72 71 / var(--tw-border-opacity));

  li:nth-child(even) { background-color: rgb(var(--color-notBlack) / .5); }
  .border-l-2 { border-color: rgb(229 143 62); }
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid rgb(var(--color-accent));
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}