@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    local("Atkinson Hyperlegible"),
    url('fonts/Atkinson-Hyperlegible-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    local("Atkinson Hyperlegible Bold"),
    url('fonts/Atkinson-Hyperlegible-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --white: 255, 255, 255;
  --cherry: 131, 37, 79;
  --notBlack: 25, 25, 25;
  --mango: 255, 171, 92;
  --text: var(--notBlack);
  --notWhite: 255, 249, 242;
}

* {
  transition: 0.3s;
  scrollbar-width: none;
}
html, menu, body {
  width: 360px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
p, h1, h2, h3, span, a, ul, li, figure, section, button, textarea, input { 
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(var(--text));
}
h2 { font-size: 20px; }
h3 { font-size: 18px; }

#icons-container {
  width: 0;
  height: 0;
  overflow: hidden;
}

#ui-menu {
  height: 600px;
  overflow: hidden;
  background: rgb(var(--cherry));
  border-radius: 3px;
}

#ui-tabs {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  background: rgb(var(--cherry));
  border-radius: 3px 3px 0 0;
}
#ui-menu button { cursor: pointer; }
.ui-tab {
  flex-grow: 1;
  height: 40px;
  font-size: 20px;
  background: rgba(var(--notBlack), .5);
  color: rgb(var(--notWhite));
  border: none;
}
.ui-tab:first-of-type { border-radius: 3px 0 0 0; }
.ui-tab:last-of-type { border-radius: 0 3px 0 0; }
.ui-tab[active="true"] { background: rgb(var(--cherry)); }
.ui-tab:hover {
  flex-grow: 1.1;
  background: rgba(var(--white), .04);
}

.ui-section {
  display: none;
  width: calc(100% - 16px);
  margin: 8px auto 0;
  background: rgb(var(--white));
  border-radius: 3px;
  border: 2px inset rgba(var(--cherry), .2);
}
.ui-section[active="true"] { display: block; }

#ui-featureTabs {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: color-mix(in srgb, rgb(var(--white)), rgb(var(--cherry)) 20%);
  border-radius: 3px 3px 0 0;
}
.ui-row {
  order: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}
.ui-row:has(button[active="true"]) { order: 2 }
.ui-featureTab {
  font-size: 15px;
  flex-grow: 1;
  background-color: color-mix(in srgb, rgb(var(--white)), rgb(var(--cherry)) 20%);
  border: none;
  border-radius: 3px;
  text-decoration: underline rgba(var(--cherry), .1) 2px;
  text-underline-position: under;
  padding-bottom: 4px;

  &[active="true"] {
    background-color: rgb(var(--white));
    cursor: default !important;
    border-radius: 3px 3px 0 0;
    text-decoration-color: rgb(var(--mango));
  }
  &:not([active="true"]):hover {
    flex-grow: 1.25;
    background-color: color-mix(in srgb, rgb(var(--white)), rgb(var(--cherry)) 32%);
  }
  &[target="all"] {
    padding-bottom: 2px;
  }
}

#ui-featureSearch {
  border: none;
  border-bottom: 2px solid rgba(var(--cherry), .1);
  outline: none;
  font-size: 15px;
  background-color: transparent;

  &:not([active="true"] > input) {
    padding: 0;
    width: 48px;
    text-align: center;
    border-bottom: 2px solid rgba(var(--cherry), .1);
    cursor: pointer;

    &::placeholder { opacity: 1; }
  }
  &:is([active="true"] > input) {
    border-bottom-color: rgb(var(--mango));
    
  }
}

div.ui-featureCategory { display: none; }
div.ui-featureCategory[active="true"] { display: block; }
ul.ui-featureCategory {
  margin: 8px 0;
  padding: 0;
}
#ui-featureContainer {
  padding: 0 8px 8px;
  height: 504px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: auto;
  scrollbar-color: rgba(var(--cherry), .2)rgba(var(--cherry), .2);
}
#ui-featureContainer > li {
  list-style-type: none;
  position: relative;
  padding: 8px;
  background: rgba(var(--cherry), .08);
  border: 2px solid rgba(var(--cherry), .4);
  border-radius: 3px;
  margin-bottom: 4px;
}

#ui-featureContainer > li:has(input:checked:not([dummy], .ui-options input)),
#ui-featureContainer > li:has(input[active="true"]) {
  background: rgb(var(--notWhite));
  border: 2px solid rgb(var(--mango));
}

div.ui-primaryContent {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  h2 {
    text-align: left;
    line-height: 36px;
    flex-basis: 216px;
  }
  .ui-inputWrapper { margin-left: 8px; }
}
div.ui-secondaryContent {
  display: none;

  &[active="true"] {
    display: block;
    margin-top: 8px; 
  }
  > p {
    margin-bottom: 8px;
    background: rgb(var(--white));
    padding: .5rem;
    border-radius: 3px;
  }
}
button.ui-featureTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  width: 100%;
}
div.ui-caretWrapper {
  height: calc(100% - 6px);
  padding-top: 6px;
}

input.ui-toggle, input.ui-select, input.ui-listSelect {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

input.ui-toggle + label {
  position: relative;
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 36px;
  background-color: rgba(var(--cherry), .2);
  border-radius: 3px;

  &:before {
    z-index: 3;
    content: "";
    position: absolute;
    width: 12px;
    height: 32px;
    background: rgb(var(--white));
    top: 2px;
    left: 2px;
    border-radius: 3px;
    transition: .3s;
  }
  &:after {
    z-index: 2;
    content: "◯";
    text-indent: 0;
    color: rgba(var(--text), .2);
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9.5px;
    right: 6px;
    border-radius: 3px;
    transition: .3s;
  }

  &:active {
    background: rgba(var(--cherry), .32);

    &:before { width: 16px; }
    &:after { right: 4px; }
  }
}
input.ui-toggle:checked + label {
  background: rgb(var(--mango));
  transform: rotate(90deg);
  margin-right: -4px;
  width: 40px;

  &:before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    top: 2px;
  }
  &:after {
    content: "—";
    right: calc(100% - 4px);
    transform: translateX(100%);
    top: 7px;
  }

  &:active:after { right: calc(100% - 2px); }
}

.align-end { text-align: right; }

div.ui-inputWrapper[type="multiSelect"] {
  display: flex;
  flex-flow: column nowrap;
}
div.ui-multiSelectWrapper, div.ui-extendedSelectWrapper {
  position: relative;
  background: rgba(var(--cherry), .08);
  padding: 4px 8px;
  border-bottom: 2px solid rgba(var(--cherry), .2);
  border-radius: 3px;

  &:not(:last-of-type) { margin-bottom: 8px; }

  label {
    display: block;
    text-align: left;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
  }
}
div.ui-multiSelectWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  label { max-width: calc(100% - 44px); }
}
div.ui-multiSelectWrapper.ui-extendedSelect {
  width: 260px;
  margin: auto;
  background: rgb(var(--white));
}
div.ui-extendedSelectWrapper h3 { margin-bottom: 8px; }
input.ui-multiSelect {
  appearance: none;
  margin: 0;
  padding: 0;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  border: 2px solid rgb(var(--cherry));
  border-radius: .5rem;
  color: rgb(var(--cherry));
  height: 1.5rem;
  width: 1.5rem;

  &:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat;
  }
}

input.ui-select + label {
  cursor: pointer;
  font-size: 18px;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: rgba(var(--cherry), .4);
  transition: 0.3s;
  display: block;
  border-radius: 20px;
  position: relative;
}
input.ui-select + label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 2px solid rgba(var(--white), .4);
  box-sizing: border-box;
  transition: 0.1s;
}
input.ui-select + label:hover { background: rgba(var(--cherry), .64);}
input.ui-select + label:hover:before {
  border: 3px solid rgba(var(--white), .64);
}
input.ui-select:checked + label { background: rgb(var(--mango)); }
input.ui-select:checked + label:before {
  border: 3px solid rgb(var(--white));
}

.ui-inputWrapper[type="slider"] {
  display: flex;
  flex-direction: column;
}
.ui-sliderWrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.ui-sliderWrapper h2 { font-size: 18px; }
.ui-sliderWrapper datalist {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 8px);
  padding: 0 4px;
}
.ui-sliderWrapper option {
  padding: 0;
  font-weight: bold;
}
input.ui-slider {
  width: calc(100% - 8px);
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 20px;
  padding: 0 4px;
  margin: 0;
  background: rgba(var(--cherry), .12);
  cursor: pointer;
}
input.ui-slider:hover { background: rgba(var(--cherry), .2); }
input.ui-slider:focus { outline: none; }
input.ui-slider::-webkit-slider-runnable-track,
input.ui-slider::-moz-range-track {
  background: rgba(var(--white), .4);
  border-radius: 8px;
  height: 8px;
}
input.ui-slider:hover::-webkit-slider-runnable-track,
input.ui-slider::-moz-range-track { background: rgba(var(--white), .4); }
input.ui-slider::-webkit-slider-thumb,
input.ui-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: rgb(var(--mango));
  border-radius: 16px;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
}
input.ui-slider:active::-webkit-slider-thumb,
input.ui-slider:active::-moz-range-thumb { border: 2px solid rgb(var(--white)); }
textarea.ui-textInput {
  resize: none;
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 96px;
  outline: none;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background: rgba(var(--white), .64);
}
textarea.ui-textInput:focus { background: rgb(var(--white)); }

input.ui-colors {
  position: relative;
  cursor: pointer;
  caret-color: transparent;
  color: rgb(var(--text));
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 4px;
  background: rgba(var(--cherry), .12);
  width: 80px;
}
input.ui-colors + label {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0.5px;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 0 3px 3px 0;
}

.ui-listSelectWrapper {
  max-height: 120px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow: auto;
  scrollbar-width: thin;
  border-radius: 3px;
}
input.ui-listSelect + label {
  cursor: pointer;
  background: rgba(var(--cherry), .12);
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  width: calc(100% - 4px);

  &:hover { background-color: rgba(var(--cherry), .24); }
}

input.ui-listSelect:checked + label {
  background: rgb(var(--mango));

  &:hover { background-color: color-mix(in srgb, rgb(var(--mango)), rgb(var(--cherry)) 10%); }
}

.ui-listSelectWrapper label:not(:last-of-type) {
  margin-bottom: 4px;
}

input.ui-numInput {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: .25rem;
}

.ui-tooltip {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  bottom: 2.5rem;
  left: 0;
  padding: .5rem;
  background-color: rgb(var(--notWhite));
  border: 2px solid rgb(var(--mango));
  border-radius: 3px;
  z-index: 100;

  &:after {
    content: '';
    left: calc(50% - .5rem);
    bottom: -1rem;
    position: absolute;
    border: 1rem solid rgb(var(--mango));
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 3px;
    transform: rotate(45deg);
    z-index: 99;
  }
}
:hover > .ui-tooltip { opacity: 1; }

.ui-card {
  background-color: rgb(var(--white));
  padding: 8px;
  border-radius: 3px;

  > li {
    list-style-type: none;
    position: relative;
    padding: 8px;
    background: rgba(var(--cherry), .08);
    border: 2px solid rgba(var(--cherry), .4);
    border-radius: 3px;
    margin-bottom: 4px;
  }
}

.ui-preferenceIo {
  display: flex;
  justify-content: space-between;

  button {
    font-size: 20px;
    text-align: center;
    border: 3px solid rgba(var(--cherry),.2);
    border-radius: 3px;
    text-decoration: none;
    width: 150px;
    position: relative;
    background-color: rgb(var(--mango));
  
    &:hover { background-color: color-mix(in srgb, rgb(var(--mango)), rgb(var(--cherry)) 10%); }
  }
}

.ui-aboutLink {
  display: flex;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(var(--cherry),.2);
  border-radius: 3px;
  text-decoration: none;
  
  &:not(:last-of-type) { margin-bottom: 4px; }
  &:hover { background-color: rgba(var(--cherry),.2); }
}