@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    local("Atkinson Hyperlegible"),
    url('fonts/Atkinson-Hyperlegible-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    local("Atkinson Hyperlegible Bold"),
    url('fonts/Atkinson-Hyperlegible-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --white: 250, 245, 255;
  --navy: 0, 25, 53;
  --black: 0, 0, 12;
  --accent: 0, 148, 255;
  --red: 255, 56, 80;
  --text: var(--black);
  --white-on-dark: 250, 245, 255;
}

* {
  transition: 0.3s;
  scrollbar-width: none;
}
html, menu, body {
  width: 360px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
p, h1, h2, h3, span, a, ul, li, figure, section, button, textarea { 
  font-family: "Favorit, Helvetica", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(var(--text));
}
h2 { font-size: 20px; }
h3 { font-size: 18px; }

#icons-container {
  width: 0;
  height: 0;
  overflow: hidden;
}

#ui-menu {
  height: 600px;
  overflow: hidden;
  background: rgb(var(--navy));
  border-radius: 3px;
}

#ui-tabs {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  background: rgb(var(--navy));
  border-radius: 3px 3px 0 0;
}
#ui-menu button { cursor: pointer; }
.ui-tab {
  flex-grow: 1;
  height: 40px;
  font-size: 20px;
  background: rgba(var(--black), .5);
  color: rgb(var(--white-on-dark));
  border: 2px solid rgba(var(--black), .6);
  border-style: solid none solid solid;
}
.ui-tab:first-of-type { border-radius: 3px 0 0 0; }
.ui-tab:last-of-type { border-radius: 0 3px 0 0; }
.ui-tab[active="true"] {
  background: rgb(var(--navy));
  border-style: solid none none solid;
}
.ui-tab:hover {
  flex-grow: 1.1;
  background: rgba(var(--white), .04);
}

.ui-section {
  display: none;
  width: calc(100% - 16px);
  margin: 8px auto 0;
  background: rgb(var(--white));
  border-radius: 3px;
  border: 2px inset rgba(var(--navy), .2);
}
.ui-section[active="true"] { display: block; }

#ui-featureTabs {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: color-mix(in srgb, rgb(var(--white)), rgb(var(--navy)) 20%);
  border-radius: 3px 3px 0 0;
}
.ui-row {
  order: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}
.ui-row:has(button[active="true"]) { order: 2 }
.ui-featureTab {
  font-size: 15px;
  flex-grow: 1;
  background-color: color-mix(in srgb, rgb(var(--white)), rgb(var(--navy)) 20%);
  border: none;
  border-radius: 3px;
  text-decoration: underline rgba(var(--navy), .1) 2px;
  text-underline-position: under;
  padding-bottom: 4px;

  &[active="true"] {
    background-color: rgb(var(--white));
    cursor: default !important;
    border-radius: 3px 3px 0 0;
    text-decoration-color: rgb(var(--accent));
  }
  &:not([active="true"]):hover {
    flex-grow: 1.25;
    background-color: color-mix(in srgb, rgb(var(--white)), rgb(var(--navy)) 32%);
  }
  &[target="all"] {
    padding-bottom: 2px;
  }
}

#ui-featureSearch {
  border: none;
  border-bottom: 2px solid rgba(var(--navy), .1);
  outline: none;
  font-size: 15px;
  background-color: transparent;

  &:not([active="true"] > input) {
    padding: 0;
    width: 48px;
    text-align: center;
    border-bottom: 2px solid rgba(var(--navy), .1);
    cursor: pointer;

    &::placeholder { opacity: 1; }
  }
  &:is([active="true"] > input) {
    border-bottom-color: rgb(var(--accent));
    
  }
}

div.ui-featureCategory { display: none; }
div.ui-featureCategory[active="true"] { display: block; }
ul.ui-featureCategory {
  margin: 8px 0;
  padding: 0;
}
#ui-featureContainer {
  padding: 0 8px 8px;
  height: 454px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: auto;
  scrollbar-color: rgba(var(--navy), .2)rgba(var(--navy), .2);
}
#ui-featureContainer > li {
  list-style-type: none;
  position: relative;
  padding: 8px;
  background: rgba(var(--navy), .08);
  border: 2px solid rgba(var(--navy), .4);
  border-radius: 3px;
  margin-bottom: 4px;
}

#ui-featureContainer > li:has(input:checked:not([dummy], .ui-options input)),
#ui-featureContainer > li:has(input[active="true"]) {
  background: rgb(var(--white));
  border: 2px solid rgb(var(--accent));
}

div.ui-primaryContent {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  h2 {
    text-align: left;
    line-height: 36px;
    flex-basis: 216px;
  }
  .ui-inputWrapper { margin-left: 8px; }
}
div.ui-secondaryContent {
  display: none;

  &[active="true"] {
    display: block;
    margin-top: 8px; 
  }
  > p {
    margin-bottom: 8px;
    background: rgba(var(--white),.64);
    padding: 4px;
    border-radius: 3px;
  }
}
button.ui-featureTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  width: 100%;
}
div.ui-caretWrapper {
  height: calc(100% - 6px);
  padding-top: 6px;
}

input.ui-toggle, input.ui-multiSelect, input.ui-select, input.ui-listSelect {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

input.ui-toggle + label {
  position: relative;
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 36px;
  background-color: rgba(var(--navy), .2);
  border-radius: 3px;

  &:before {
    z-index: 3;
    content: "";
    position: absolute;
    width: 12px;
    height: 32px;
    background: rgb(var(--white));
    top: 2px;
    left: 2px;
    border-radius: 3px;
    transition: .3s;
  }
  &:after {
    z-index: 2;
    content: "◯";
    text-indent: 0;
    color: rgba(var(--text), .2);
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9.5px;
    right: 6px;
    border-radius: 3px;
    transition: .3s;
  }

  &:active {
    background: rgba(var(--navy), .32);

    &:before { width: 16px; }
    &:after { right: 4px; }
  }
}
input.ui-toggle:checked + label {
  background: rgb(var(--accent));
  transform: rotate(90deg);
  margin-right: -4px;
  width: 40px;

  &:before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    top: 2px;
  }
  &:after {
    content: "—";
    right: calc(100% - 4px);
    transform: translateX(100%);
    top: 7px;
  }

  &:active:after { right: calc(100% - 2px); }
}

div.ui-inputWrapper[type="multiSelect"] {
  display: flex;
  flex-flow: column nowrap;
}
div.ui-multiSelectWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--navy), .08);
  padding: 4px 8px;
  border-bottom: 2px solid rgba(var(--navy), .2);
  border-radius: 3px;
}
div.ui-multiSelectWrapper.ui-extendedSelect {
  width: 260px;
  margin: auto;
  background: rgb(var(--white));
}
div.ui-multiSelectWrapper:not(:last-of-type),
div.ui-extendedSelectWrapper:not(:last-of-type) { margin-bottom: 8px; }
div.ui-extendedSelectWrapper {
  background: rgba(var(--navy), .08);
  padding: 4px 8px;
  border-bottom: 2px solid rgba(var(--navy), .2);
  border-radius: 3px;
}
div.ui-multiSelectWrapper h2 {
  font-weight: 400;
  font-size: 18px;
  max-width: calc(100% - 44px);
}
div.ui-extendedSelectWrapper h3 { margin-bottom: 8px; }
input.ui-multiSelect + label {
  cursor: pointer;
  font-size: 18px;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: rgba(var(--navy), .4);
  transition: 0.3s;
  display: block;
  border-radius: 20px;
  position: relative;
}
input.ui-multiSelect + label:before {
  z-index: 3;
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: rgb(var(--white));
  border-radius: 8px;
  transition: 0.3s;
}
input.ui-multiSelect:checked + label { background: rgb(var(--accent)); }
input.ui-multiSelect:checked + label:before {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: rgb(var(--white));
}
input.ui-multiSelect + label:active:before { width: 20px; }
input.ui-multiSelect + label:after {
  z-index: 2;
  text-indent: 0;
  text-align: center;
  content: "o";
  position: absolute;
  top: 1px;
  right: 2px;
  color: rgba(var(--text), .32);
  width: 16px;
  height: 16px;
  line-height: 16px;
  transition: 0.3s;
}
input.ui-multiSelect:checked + label:after {
  content: "ı";
  right: calc(100% - 2px);
  transform: translateX(100%);
}
input.ui-multiSelect + label:active:after { right: 0; }
input.ui-multiSelect:checked + label:active:after { right: calc(100% + 2px); }

input.ui-select + label {
  cursor: pointer;
  font-size: 18px;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: rgba(var(--navy), .4);
  transition: 0.3s;
  display: block;
  border-radius: 20px;
  position: relative;
}
input.ui-select + label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 2px solid rgba(var(--white), .4);
  box-sizing: border-box;
  transition: 0.1s;
}
input.ui-select + label:hover { background: rgba(var(--navy), .64);}
input.ui-select + label:hover:before {
  border: 3px solid rgba(var(--white), .64);
}
input.ui-select:checked + label { background: rgb(var(--accent)); }
input.ui-select:checked + label:before {
  border: 3px solid rgb(var(--white));
}

.ui-inputWrapper[type="slider"] {
  display: flex;
  flex-direction: column;
}
.ui-sliderWrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.ui-sliderWrapper h2 { font-size: 18px; }
.ui-sliderWrapper datalist {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 8px);
  padding: 0 4px;
}
.ui-sliderWrapper option {
  padding: 0;
  font-weight: bold;
}
input.ui-slider {
  width: calc(100% - 8px);
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 20px;
  padding: 0 4px;
  margin: 0;
  background: rgba(var(--navy), .12);
  cursor: pointer;
}
input.ui-slider:hover { background: rgba(var(--navy), .2); }
input.ui-slider:focus { outline: none; }
input.ui-slider::-webkit-slider-runnable-track,
input.ui-slider::-moz-range-track {
  background: rgba(var(--white), .4);
  border-radius: 8px;
  height: 8px;
}
input.ui-slider:hover::-webkit-slider-runnable-track,
input.ui-slider::-moz-range-track { background: rgba(var(--white), .4); }
input.ui-slider::-webkit-slider-thumb,
input.ui-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: rgb(var(--accent));
  border-radius: 16px;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
}
input.ui-slider:active::-webkit-slider-thumb,
input.ui-slider:active::-moz-range-thumb { border: 2px solid rgb(var(--white)); }
textarea.ui-textInput {
  resize: none;
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 96px;
  outline: none;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background: rgba(var(--white), .64);
}
textarea.ui-textInput:focus { background: rgb(var(--white)); }

input.ui-colors {
  position: relative;
  cursor: pointer;
  caret-color: transparent;
  color: rgb(var(--text));
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 4px;
  background: rgba(var(--navy), .12);
  width: 80px;
}
input.ui-colors + label {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0.5px;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 0 3px 3px 0;
}

.ui-listSelectWrapper {
  max-height: 120px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow: auto;
  scrollbar-width: thin;
  border-radius: 3px;
}
input.ui-listSelect + label {
  cursor: pointer;
  background: rgba(var(--navy), .12);
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  width: calc(100% - 4px);

  &:hover { background-color: rgba(var(--navy), .24); }
}

input.ui-listSelect:checked + label {
  background: rgb(var(--accent));

  &:hover { background-color: color-mix(in srgb, rgb(var(--accent)), rgb(var(--navy)) 10%); }
}

.ui-listSelectWrapper label:not(:last-of-type) {
  margin-bottom: 4px;
}

.ui-card {
  background-color: rgb(var(--white));
  padding: 8px;
  border-radius: 3px;

  > li {
    list-style-type: none;
    position: relative;
    padding: 8px;
    background: rgba(var(--navy), .08);
    border: 2px solid rgba(var(--navy), .4);
    border-radius: 3px;
    margin-bottom: 4px;
  }
}

.ui-preferenceIo {
  display: flex;
  justify-content: space-between;

  button {
    font-size: 20px;
    text-align: center;
    border: 3px solid rgba(var(--navy),.2);
    border-radius: 3px;
    text-decoration: none;
    width: 150px;
    position: relative;
    background-color: rgb(var(--accent));
  
    &:hover { background-color: color-mix(in srgb, rgb(var(--accent)), rgb(var(--navy)) 10%); }
  }
}

.ui-aboutLink {
  display: flex;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(var(--navy),.2);
  border-radius: 3px;
  text-decoration: none;
  
  &:not(:last-of-type) { margin-bottom: 4px; }
  &:hover { background-color: rgba(var(--navy),.2); }
}