:root {
  --white: 250, 245, 255;
  --navy: 0, 25, 53;
  --black: 0, 0, 12;
  --accent: 0, 148, 255;
  --red: 255, 56, 80;
  --text: var(--black);
  --white-on-dark: 250, 245, 255;
}

body {
  background-color: rgb(var(--navy));
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(var(--text));
}

dialog {
  min-width: 80vw;
  margin-top: 100px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h1 { margin: 16px 0 8px; }
a { text-decoration: none; }
b { font-family: "Atkinson Hyperlegible Bold", sans-serif; }

div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
h2 { margin: 8px 0; }

#grantPermissions {
  width: 40%;
  font-size: 20px;
  background-color: rgb(var(--accent));
  transition: background-color .3s;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;

  &:hover { background-color: color-mix(in srgb, rgb(var(--accent)), rgb(var(--navy)) 10%); }
}

figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-left: 8px;
}
input {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}
input + label {
  opacity: .8;
  cursor: pointer;
  font-size: 18px;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: rgba(var(--navy), .4);
  transition: 0.3s;
  display: block;
  border-radius: 20px;
  position: relative;

  &:hover { background: rgba(var(--navy), .5); }
  &:before {
    z-index: 3;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: rgb(var(--white));
    border-radius: 8px;
    transition: 0.3s;
  }
  &:after {
    z-index: 2;
    text-indent: 0;
    text-align: center;
    content: "";
    position: absolute;
    top: 1px;
    right: 2px;
    color: rgba(var(--text), .32);
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.3s;
  }
  &:active:before { width: 20px; }
  &:active:after { right: 0; }
}
input:checked + label {
  background: rgb(var(--accent));

  &:hover { background-color: color-mix(in srgb, rgb(var(--accent)), rgb(var(--navy)) 10%); }
  &:before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: rgb(var(--white));
  }
  &:after {
    content: "";
    right: calc(100% - 2px);
    transform: translateX(100%);
  }
  &:active:after { right: calc(100% + 2px); }
}
h3 {
  margin: 0 8px;
  opacity: .8;
}